<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MovieApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS CDN -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    crossorigin="anonymous"
  >

  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>

  <!-- Bootstrap JS CDN (optional, only if you need JavaScript components) -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>
